@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: "Brittany";
  src: url("./assets/fonts/BrittanySignature.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 98%;
  --foreground: 222 47% 11%;
  --primary: 346 100% 88%;
  --secondary: 164 47% 81%;
  --accent: 33 85% 88%;
  --muted: 191 66% 73%;
  --destructive: 0 84% 60%;
  --border: 214 32% 91%;
  --input: 214 32% 91%;
}

.dark {
  --background: 222 47% 11%;
  --foreground: 210 40% 98%;

  --primary: 346 100% 88%;
  --secondary: 164 47% 81%;
  --accent: 33 85% 88%;
  --muted: 191 66% 73%;

  --border: 217 32% 17%;
  --input: 217 32% 17%;
}


@layer base {
  
  body {
    @apply bg-background text-foreground antialiased;
    font-family: 'Poppins', sans-serif;
  }

  button {
    font-family: 'Libre Baskerville', serif;
  }
}

/* ===== Custom Scrollbar ===== */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--primary)) transparent;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary));
  border-radius: 999px;
  border: 100px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--secondary));
}
